/*main body style*/

body {
  background: #FFFED8;
  /*background: rgb(0,96,242);
background: linear-gradient(45deg, rgba(247,118,86,1) 0%, rgba(0,96,242,1)100%);*/
  font-family: 'IBM Plex Mono';
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
}

h1, h3 {
  font-family: 'IBM Plex Mono'
}

/*header bio container*/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav-bar > a {
  color: black;
  padding: 20px;
}

.header-content {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#avatar {
  border-radius: 50%;
  padding: 40px;
}

.arrow {
  text-align: center;
}

#arrow {
  height: 10vh;
}

/* project examples styling*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container > h1 {
  border-bottom: .5px solid black;
}

.img-lrg {
  height: 25em;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card {
  padding: 30px;
  margin: 40px 0;
}

.card-content {
  display: inline-flex;
}

.project-images {
  display: flex;
}

.project-description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -62px;
  height: 300px;
  width: 300px;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease
}

.card:hover > .card-content > .project-description {
  z-index: 0;
  margin-top: -80px;
}

.rt {
  margin-right: -70px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.lt {
  margin-left: -70px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.border {
  width:  40em;
  height: 25em;
  z-index: -1;
  margin-top: 30px;
  margin-bottom: -30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

#one{
  margin-bottom: 60px;
}

.right {
  margin-left: -605px;
}

.left {
  margin-right: -605px;
}

.first {
  background-color: #0060f2;
}

.second {
  background-color: #f77656;
}

.third {
  background-color: #ffb2be;
}

/*footer style*/
.footer {
  padding: 30px;
  text-align: center;
}

.contact-links a {
  color: black;
  font-size: 40px;
  padding: 20px;
}
